# ----------------------------

# Python

# ----------------------------

**pycache**/
*.pyc
*.pyo
*.pyd
*.py,cover
*.so

# Virtual Environment

venv/
.env/
.env.*


# ----------------------------

# Environment Variables

# ----------------------------

.env
.env.local
.env.development
.env.production

# ----------------------------

# Logs

# ----------------------------

logs/
*.log

# ----------------------------

# Database

# ----------------------------

*.db
*.sqlite3

# ----------------------------

# Alembic

# ----------------------------

alembic/versions/*.pyc
alembic/versions/**pycache**/

# ----------------------------

# VS Code / IDE

# ----------------------------

.vscode/
.idea/

# ----------------------------

# OS Files

# ----------------------------

.DS_Store
Thumbs.db

# ----------------------------

# Testing

# ----------------------------

.coverage
htmlcov/
.pytest_cache/

# ----------------------------

# Build / Dist

# ----------------------------

build/
dist/
*.egg-info/

# ----------------------------

# Docker

# ----------------------------

docker-compose.override.yml

# ----------------------------

# Jupyter Notebook

# ----------------------------

.ipynb_checkpoints/

# ----------------------------

# ML / AI (Important for YOU 🔥)

# ----------------------------

models/
*.h5
*.pt
*.pth
*.ckpt
*.onnx

# Dataset

data/
datasets/

# ----------------------------

# Cache

# ----------------------------

.cache/
tmp/
